<!DOCTYPE html>
<html ng-app="ProductsApp">
<head>
  <title>Wdi10RailsDemoAngularProducts</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application',  controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> <%= controller_name %></h1>
<%= yield %>

</body>
</html>
